:root,
[data-bs-theme='light'] {
    --bs-primary: #0c7be0;
    --bs-primary-rgb: 12, 123, 224;
    --bs-primary-text: #0c7be0;
    --bs-secondary-text: #6c7280;
    --bs-secondary-color: #6c7280;
    --bs-secondary-color-rgb: 108, 114, 128;
    --bs-link-color: #0c7be0;
    --bs-link-color-rgb: 12, 123, 224;
    --bs-border-radius: 8px;
    --bs-body-line-height: 24px;
    --bs-body-color-rgb: 0, 18, 34;
    --bs-body-color: #001222;
    --bs-gray-900: #1f2329;
    --bs-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

p {
    margin: 0;
    margin-bottom: 0;
}
dl,
ol,
ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: var(--f2c-body-bg);
    min-height: 100vh;
    color: var(--bs-body-color);
}

.list-unstyled li {
    list-style: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    --bs-navbar-toggler-font-size: 18px;
}
.navbar-toggler {
    border: none;
    padding: 0px;
}

.inset-0 {
    inset: 0;
}

.row > * {
    padding: calc(var(--bs-gutter-x) * 0.5);
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1280px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 90% !important;
    }
}

.columns-1 {
    columns: 1;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 576px) {
    .columns-sm-1 {
        columns: 1;
    }
    .grid-cols-sm-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 992px) {
    .columns-md-1 {
        columns: 1;
    }
    .columns-md-2 {
        columns: 2;
    }
    .grid-cols-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1200px) {
    .columns-lg-1 {
        columns: 1;
    }
    .columns-lg-3 {
        columns: 3;
    }
    .grid-cols-lg-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .grid-cols-lg-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}
.btn {
    --bs-btn-padding-y: 5px;
    --bs-btn-padding-x: 16px;
}
.btn-lg {
    --bs-btn-padding-y: 12px;
    --bs-btn-padding-x: 32px;
}
.btn-outline-primary:hover {
    background: linear-gradient(90deg, #0c7be0 0%, #333dff 82.69%);
}

.bg-light {
    background: linear-gradient(90deg, #f7fbff 0%, #f8faff 100%);
}

.bg-gradient {
    background: linear-gradient(90deg, #f7fbff 0%, #ffffff 100%) !important;
}

.section {
    padding: 80px 0;
    position: relative;
}

.border-radius-20 {
    border-radius: 20px;
}

.break-inside-avoid {
    break-inside: avoid;
}

/* card */
.card {
    --bs-card-border-radius: 12px;
    --bs-card-inner-border-radius: 12px;
    box-shadow: 0px 4px 22px 0px rgba(0, 27, 91, 0.05);
    border: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.card.hover:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
    border-color: rgba(255, 255, 255, 0.8);
}
.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.card-body {
    padding: 32px;
}

.card-badge {
    width: 87px;
    height: 28px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    font-weight: 500;
}
.card .author {
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 12px;
    left: 12px;
}

.card .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card:hover .overlay {
    opacity: 0.4;
}
.card:hover .author {
    opacity: 1;
}

/* table */
.table {
    --bs-table-border-color: rgba(var(--bs-secondary-color-rgb), 0.2);
}
.table > :not(caption) > * > * {
    background: none;
    padding: 1.5rem 0.5rem;
}

.title {
    color: var(--bs-body-color);
}

.sub-title {
    color: var(--bs-gray-900);
    font-weight: bold;
}

/* nav */
.nav-pills .nav-link.active {
    background: linear-gradient(90deg, #0c7be0 0%, #333dff 82.69%) !important;
}
.nav-pills .nav-link.active p {
    color: #ffffff !important;
}

/* Animation */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px); /* 初始：在目标位置上方30px */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 最终：回到目标位置 */
    }
}

.slide-down {
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 1s ease-out 0.1s forwards;
}

/* scroll Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}
.animate-scroll-left {
    display: flex;
    animation: scroll-left 30s linear infinite;
}

.animate-scroll-up {
    animation: scroll-up 30s linear infinite;
}

.animate-scroll-down {
    animation: scroll-down 30s linear infinite;
}

.marquee-mask-vertical {
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
}
.marquee-mask-horizontal {
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

.animate-scroll-left:hover,
.animate-scroll-up:hover,
.animate-scroll-down:hover {
    animation-play-state: paused;
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
}
.translate-y:hover {
    transform: translateY(-5px);
}
.group:hover .group-hover\:scale-110 {
    --f2c-scale-x: 1.1;
    --f2c-scale-y: 1.1;
    --f2c-translate-x: 0;
    --f2c-translate-y: 0;
    --f2c-rotate: 0;
    --f2c-skew-x: 0;
    --f2c-skew-y: 0;
    transform: translate(var(--f2c-translate-x), var(--f2c-translate-y)) rotate(var(--f2c-rotate)) skewX(var(--f2c-skew-x)) skewY(var(--f2c-skew-y)) scaleX(var(--f2c-scale-x)) scaleY(var(--f2c-scale-y));
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
